{%extends "layout.html"%}
{%block content%}
<!-- <link rel="stylesheet" href="/static/css/about.css"> -->
<link rel="stylesheet" href="/static/css/custom.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<!-- <h1>About Me</h1> -->

<div class="home">

      <div class="welcome">
          <h4 class="Tscore">Score: <div id="score"></div>
          </h4>

              <script>
                  function send_score(score) {
                        var scoreObj={"score_":score};
                        $.ajax({
                                  // console.log("send_score called"),
                                  // data: {
                                  //   score_:$('#score').val()
                                  // },
                                  url:"/tetris-score",
                                  type: "POST",
                                  contentType:"applicaton/json",
                                  dataType:"json",
                                  data: JSON.stringify(scoreObj)
                        });

                  }

              </script>

              <canvas id="tetris" width="240" height="400"></canvas>
              <script src="/static/javascript/tetris.js"></script>


              <!-- <form action="{{url_for('main.projects')}}" method="post">
                  <input title="Email your score to yourself!" placeholder="Enter your email here" type="email" name="email_name" required>
                  <input id="score_input" value="send_score('#score')" type="hidden" name="tetris_score" required>
                    <button type="submit" name="button" onclick="send_score();"> Submit </button>
              </form> -->
            <p>Controls: <br> - Press WASD to move <br> - Enter to rotate.</p>
      </div>

    <div class="welcome-about">
      <h1>About Me</h1>
      <img class="about-img" src="/static/pictures/me.png" alt="">
      <p class="about">My name is Jan Bertlik. I was born and raised in Toronto Canada, to a Czech - Slovak family. I have been fortunate enough to grow up in a time when silicon transistors were rapidly evolving computers, and with them; the web.</p>
      <p> Since the 90's, I've been surfing the internet which went hand in hand with my interest in technology. Some time ago, I decided that I would like computers to be in my future. </p>
      <p>Wanting to take a less common approach, I decided to take my interest in technology more seriously and attended a 12 week boot camp in Toronto focusing on web development. Here we learned about the MVC model with the Ruby on Rails framework for backend work, while adding some Javascript spice to make our frontend interactive. </p>
      <p>After this bootcamp, I was interested in learning another OOP language that was more versitile. Python was the best choice for me since the syntax is similar to Ruby, and it is widely used in machine learning and data science (something I would like to take the time to learn some day). Following many tutorials, I finally built this site using the Flask framework. Flask was chosen over Django at first because I read that Flask is more 'Pythonic' and easier to learn. You can read more about this site and take a look at the code <a href="https://github.com/JBert9000/flask_portfolio">here</a>.</p>

    </div>

</div>


{%endblock%}
