{%extends "layout.html"%}
{%block content%}

<link rel="stylesheet" href="/static/css/custom.css">

<div class="welcome-contact">

  <div class="contact-links">
      <h1>Contact Me</h1><br>
      <p><a href="https://www.linkedin.com/in/john-bertlik">LinkedIn</a></p>
  </div>
    <br>
  <div class="contact-links">
      <p><a href="https://github.com/JBert9000">Github</a></p>
  </div>
    <br>
  <div class="contact-links">
      <p><a href="mailto:jbertlik@gmail.com">Email</a></p>
  </div>
    <br>
  <div class="contact-links">
      <p><a href="https://soundcloud.com/chiibu">Soundcloud</a></p>
  </div>
  <br><br><br><br><br><br><br>
</div>

{%endblock%}
