{%extends "layout.html"%}
{%block content%}

<!-- <link rel="stylesheet" href="/static/css/home.css"> -->
<link rel="stylesheet" href="/static/css/custom.css">
<div class="welcome-downloads">

  <div class="">
    <h1 class="welcome-to">Downloads</h1>
    <br><p>Work in progress! Stay tuned..</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- <p>Download some of the projects I've completed. Feel free to look at the my code via the Github link next to each item.</p> -->

    <!-- <ul>
      <li><h3>My CV</h3>
        <a href="{{url_for('main.return_cv', cv='Jan Bertlik - CV')}}" target="blank"><button class="btn btn-warning" type="button">Download</button></a>

        <p class="downloads">
          This my resume incase you don't have it already. Feel free to download it and click around to take a look at my Github and Linkedin pages.
        </p>
      </li> -->

      <!-- <li><h3>Item 2</h3>
        <h5>Download Here</h5>
        <a href="github">github link here</a>
        <p class="downloads">
          Description of item 2 blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        </p>
      </li>

      <li><h3>Item 3</h3>
        <h5>Download Here</h5>
        <a href="github">github link here</a>
        <p class="downloads">
          Description of item 3 blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        </p>
      </li> -->
    </ul>

  </div>

{%endblock%}
