{%extends "layout.html"%}
{%block content%}

<link rel="stylesheet" href="/static/css/custom.css">
<div class="grid-container">

  <div class="welcome">
    <h1 class="welcome-to">Welcome to my site</h1>
    <p>This is the homepage.</p>
    <p> Feel free to check out my 'about' page and my blog! If you really want to, you can even make an account to post whatever you want on there.</p>
    <p> Want to invest into AMD or MSFT? Well check out the Bokeh candle stick graphs that look at the trends from 6 months ago until today. They're interactive as well.</p>
    <p> You can find some of my older projects on the 'projects' page, or download some others from 'downloads'.</p>
    <p> Contacting me can be found on the contact page.</p>
  </div>


    <!-- About Page -->
    <figure class="grid-img">
      <img src="/static/pictures/1.png" alt="">
        <figcaption>
          <!-- name -->
          <h4 class="page"><a href="{{ url_for('main.about') }}">About</a></h4>
        </figcaption>
    </figure>

    <!-- Blog Page -->
    <figure class="grid-img">
      <img src="/static/pictures/6.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('main.blog') }}">Blog</a></h4>
        </figcaption>
    </figure>

    <!-- Stocks Page -->
    <figure class="grid-img">
      <img src="/static/pictures/2.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('main.plot') }}">Stocks</a></h4>
        </figcaption>
    </figure>

    <!-- Projects Page -->
    <figure class="grid-img">
      <img src="/static/pictures/5.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('main.projects') }}">Projects</a></h4>
        </figcaption>
    </figure>

    <!-- About Page -->
    <figure class="grid-img">
      <img src="/static/pictures/3.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('main.downloads') }}">Downloads</a></h4>
        </figcaption>
    </figure>

    <!-- Contact Page -->
    <figure class="grid-img">
      <img src="/static/pictures/4.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('main.contact') }}">Contact</a></h4>
        </figcaption>
    </figure>

</div>

{%endblock%}
