{%extends "layout.html"%}
{%block content%}

<!-- <link rel="stylesheet" href="/static/css/home.css"> -->
<link rel="stylesheet" href="/static/css/custom.css">
<div class="grid-container">

  <div class="welcome">
    <h1 class="welcome-to">Welcome to my site</h1>
    <p>here will be an introduction to my site. here will be an introduction to my site.here will be an introduction to my site.here will be an introduction to my site.here will be an introduction to my site.here will be an introduction to my site. here will be an introduction to my site. here will be an introduction to my site.here will be an introduction to my site.here will be an introduction to my site.here will be an introduction to my site.here will be an introduction to my site. here will be an introduction to my site. here will be an introduction to my site.here will be an introduction to my site.here will be an introduction to my site.here will be an introduction to my site.here will be an introduction to my site.</p>
  </div>
    <!-- <h1>Jan Bertlik, <span>Web Developer</span></h1> -->


    <!-- About Page -->
    <!-- team-member -->
    <figure class="grid-img">
      <img src="/static/pictures/1.png" alt="">
        <figcaption>
          <!-- name -->
          <h4 class="page"><a href="{{ url_for('about') }}">About</a></h4>
        </figcaption>
    </figure>

    <!-- Blog Page -->
    <figure class="grid-img">
      <img src="/static/pictures/6.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('blog') }}">Blog</a></h4>
        </figcaption>
    </figure>

    <!-- Stocks Page -->
    <figure class="grid-img">
      <img src="/static/pictures/2.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('plot') }}">Stocks</a></h4>
        </figcaption>
    </figure>

    <!-- Projects Page -->
    <figure class="grid-img">
      <img src="/static/pictures/5.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('projects') }}">Projects</a></h4>
        </figcaption>
    </figure>

    <!-- About Page -->
    <figure class="grid-img">
      <img src="/static/pictures/3.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('downloads') }}">Downloads</a></h4>
        </figcaption>
    </figure>

    <!-- Contact Page -->
    <figure class="grid-img">
      <img src="/static/pictures/4.png" alt="">
        <figcaption>
          <h4 class="page"><a href="{{ url_for('contact') }}">Contact</a></h4>
        </figcaption>
    </figure>

</div>
{%endblock%}
