{%extends "layout.html"%}
{%block content%}

<!-- <link rel="stylesheet" href="/static/css/home.css"> -->
<link rel="stylesheet" href="/static/css/custom.css">
<div class="welcome-projects">
  <h1>Web Apps</h1>

    <div class="where_to_div">
      <a href="http://where-to-travel.herokuapp.com/">
          <img class="where_to" src="/static/pictures/where_to.png"></a>
    </div>

    <p class="where_to_p">This was the final project at my time at Bitmaker Labs Toronto (12 week web developement boot-camp). Uploaded to Heroku, this app's main idea was to pick a destination to travel to based on the popularity of the top 5 countries to visit in each month.</p>
    <p> This idea was chosen so that we could call google maps API and populate our data through that. We seeded our data (months, countries) one time with a schema, and called Google Maps for the hotels and more detialed information. </p><br><br>
    <p>Although this site needs updating, I learned a lot from this project. The biggest take aways were working with a team to code, and the nuances of calling a third party API to work with our app.</p>
</div>

<br>
<div class="welcome-projects">
  <h1>Music</h1>

    <p>Here's some music I made in the past. It's not web-dev related, but I thought I'd share anyway.</p>

    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/586110201%3Fsecret_token%3Ds-bgUcC&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/325540732&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/194063991&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>

{%endblock%}
