/* colors:
'#F2365C', hot pink
'#0FF6FE', ocean blue
'#47FE0F', green
'#3B26F3', purple
'#F4DF20',light yellow
'#2FE277', forest green
'#FEAD09' thick yellow */

:root {
  --forest_green: #2FE277;
  --hot_pink: #F2365C;
  --purple: #3B26F3;
  --hot_pink2: #FE096B;
  --yellow: #fdcd3b;
  --old-blue: #369EDB;
}

*, *::before, *::after { box-sizing: border-box; }

div.home {
  padding-top: 70px;
}

body {
  display: table;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(70deg, #fdcd3b 60%, #ffed4b 60%);
}

.game {
  display: inline-block;
}

# tetris {
  position: absolute;
  float: left;
}

.about {
  display: table-cell;
  margin: 0 auto;
  display: grid | inline-grid;
  display: grid;
  grid-column: 1;
  grid-row: 2 / 4;
}

.about p {
  float: left;
}

.score {
  position: relative;
}
