/* colors:
'#F2365C', hot pink
'#0FF6FE', ocean blue
'#47FE0F', green
'#3B26F3', purple
'#F4DF20',light yellow
'#2FE277', forest green
'#FEAD09' thick yellow */

:root {
  --forest_green: #2FE277;
  --hot_pink: #F2365C;
  --purple: #3B26F3;
  --hot_pink2: #FE096B;
  --yellow: #fdcd3b;
}

*, *::before, *::after { box-sizing: border-box; }

body {
  display: grid | inline-grid;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(70deg, #fdcd3b 60%, #ffed4b 60%);
  padding-top: 89px;
}

.grid-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-gap: 1em;
}

.welcome {
  grid-column: span 2;
}

.grid-img {
  margin: 0;
  padding: 0;
  position: relative;
}

img {
  width: 100%;
  display: block;
}

figcaption {
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  background: rgba(#EC8824, .8);
  color: #F2365C;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 300ms;
  font-size: 20px;

}

figcaption:hover {
  opacity: 1;
}



@media screen and (min-width: 52em) {

  .grid-container {
    /* grid-template-columns: repeat(auto-fit, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));

  }

  figcaption {
    font-size: 50px;
  }

  .welcome {
    grid-column: auto;
    grid-row: span 3;
    align-self: top;
  }

}

/* @media screen and (minmax(800px, 835px)) {
  .grid-container {
    grid-template-columns: repeat(15em, minmax(15em, 1fr));
  }
  .welcome {
    grid-column: span 1;
  }
} */

.page {
   text-transform: uppercase;
   line-height: 0.5;
   text-align: center;

 }

 .page a {
   color: var(--hot_pink);
   line-height: 10px;
   text-decoration: none;
   font-size: 50px;
 }
