{%extends "layout.html"%}
{%block content%}

<link rel="stylesheet" href="/static/css/main.css">
<div class="grid-container">
    <!-- <h1>Jan Bertlik, <span>Web Developer</span></h1> -->
    <p>Welcome to my portfolio page.</p>

    <!-- About Page -->
    <figure class="grid-img">
      <img src="/static/logo3.jpg" alt="">
        <figcaption>
          <h2 class="page">About</h2>
        </figcaption>
    </figure>

    <!-- About Page -->
    <figure class="grid-img">
      <img src="/static/logo3.jpg" alt="">
        <figcaption>
          <h2 class="page">About</h2>
        </figcaption>
    </figure>

    <!-- About Page -->
    <figure class="grid-img">
      <img src="/static/logo3.jpg" alt="">
        <figcaption>
          <h2 class="page">About</h2>
        </figcaption>
    </figure>

    <!-- About Page -->
    <figure class="grid-img">
      <img src="/static/logo3.jpg" alt="">
        <figcaption>
          <h2 class="page">About</h2>
        </figcaption>
    </figure>

    <!-- About Page -->
    <figure class="grid-img">
      <img src="/static/logo3.jpg" alt="">
        <figcaption>
          <h2 class="page">About</h2>
        </figcaption>
    </figure>

    <!-- About Page -->
    <figure class="grid-img">
      <img src="/static/logo3.jpg" alt="">
        <figcaption>
          <h2 class="page">About</h2>
        </figcaption>
    </figure>




</div>
{%endblock%}
